.body{
    background: #EBECED;
}

.contenedor{
    text-align: center;
    height: 600px;
    display: flex;
    align-items: center;
}

.producto{
    background: white;
    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    min-width: 400px;
    min-height: 250px;
}

.caja-imagen{
    width: 35%;
}

.caja-informacion{
    width: 65%;
    background: white;
}

.imagen{
    width: 100%;
    height: auto;
}

.titulo, .descripcion, .compra{
    width: 90%;
    margin: auto;
    text-align: left;
    display: flex;
}

.titulo{
    padding-top: 20px;
    height: auto;
    background: white;
    /* line-height: 30px; */
    font-size: 25px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.descripcion{
    padding-top: 7px;
    height: auto;
    background: white;
    font-size: 16px;
    font-weight: 500;
    color: #938888;
    line-height: 30px;
    text-align: justify;
}

.compra{
    margin-top: 10px;
    height: 20%;
    width: 70%;
    /* background: lightseagreen; */
    justify-content: space-around;
    align-items: center;
}

.precio, .boton{
    width: 30%;
    /* background: lightslategrey; */
}

.precio{
    color: #FF6000;
    font-size: 35px;
    font-weight: bold;   
}

.precio::first-letter{
    font-size: 45px;
}

.sinnegrita{
    font-weight: 500;
}

.añadir{
    width: 120px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #FF6000;
    background: #FF6000;
    color: white;
    font-size: 15px;
    transition-duration: 200ms;
}

.añadir:hover{
    transition-duration: 500ms;
    border-radius: 10px;
    border: 1px solid #FF6000;
    background: white;
    color: #FF6000;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}