*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
}

.contenedor{
    width: 100%;
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap ;
    margin-top: 40px;
}

.caja_tabla{
    width: 100%;
}

.primera{
    margin-top: 20px;
}

.tabla{
    text-align: center;
    width: 60%;
    margin: auto;
}

td{
    padding: 10px;
}

.td{
    /* background: rgb(181, 224, 238); */
    background: rgb(198, 200, 201);
}

.td:hover{
    /* background: rgb(186, 230, 243); */
    background: rgb(208, 211, 212);
}

.titulo{
    background: #2f3640;
    border-top: 5px solid white;
}

.cabecera{
    background: #2f3640;
    color: #fff;
    font-size: 20px;
}

.titulo{
    color: #fff;
}

.añadir{
    width: 140px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgb(28, 204, 28);
    background: rgb(28, 204, 28);
    color: white;
    font-size: 15px;  
    transition-duration: 200ms;
}

.añadir:hover{
    font-weight: bold;
    transition-duration: 500ms;
    border-radius: 10px;
    border: 1px solid rgb(28, 204, 28);
    background: white;
    font-size: 16px;  
    color: rgb(28, 204, 28);
}

.modificar{
    width: 90px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid orangered;
    background: orangered;
    color: white;
    font-size: 14px;    
    transition-duration: 200ms;
}

.modificar:hover{
    font-weight: bold;
    transition-duration: 500ms;
    border-radius: 10px;
    border: 1px solid orangered;
    background: white;
    font-size: 15px;
    color: orangered;
}

.borrar{
    width: 80px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgb(241, 20, 20);
    background: rgb(241, 20, 20);
    color: white;
    font-size: 14px;
    transition-duration: 200ms;
}

.borrar:hover{
    font-weight: bold;
    transition-duration: 500ms;
    border-radius: 10px;
    border: 1px solid rgb(241, 20, 20);
    background: white;
    font-size: 15px;
    color: rgb(241, 20, 20);
}

.limite{
    width: 85px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgb(72, 102, 238);
    background: rgb(72, 102, 238);
    font-size: 14px;
    color: white;
}

.limite:hover{
    font-weight: bold;
    transition-duration: 500ms;
    border-radius: 10px;
    border: 1px solid rgb(72, 102, 238);
    background: white;
    font-size: 15px;
    color: rgb(72, 102, 238);
}

.boton{
    text-align: center;
}

.formulario{
    margin: 0;
}

.filtro{
    width: 225px;
    height: 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: 500ms;
}

.filtro:focus{
    width: 350px;
    transition: 500ms;
}

.filtrar{
    width: 60px;
}