/* Cabecera */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

header{
    height: 90px;
    background: #2f3640;  
    border-bottom: 1px solid #fff;
}

h1:hover, h2:hover, h3:hover, h4:hover{
    cursor: default;
}

input:hover{
    cursor: pointer;
}

.body{
    background: #EBECED;
}

.inner-width{
    /* max-width: 1000px; */
    padding: 0 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo img{
    height: 90px;
}

.navigation-menu{
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
}

.navigation-menu a{
    margin-left: 10px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
}

.navigation-menu a:hover{
    background: #fff;
    color: #2f3640;
    transform: scale(1.1);
}

.navigation-menu i{
    margin-right: 8px;
    font-size: 16px;
}

.home{
    color: #ff6b6b;
}

.about{
    color: #0abde3;
}

.works{
    color: #feca57;
}

.team{
    color: #5f27cd;
}

.btncarrito{
    color: #1dd1a1;
}

.quest{
    color: rgb(235, 235, 64);
}

.menu-toggle-btn{
    float: right;
    height: 90px;
    line-height: 90px !important;
    color: #fff;
    font-size: 26px;
    display: none !important;
    cursor: pointer;
}

@media screen and (max-width:800px){

    .menu-toggle-btn{
        display: block !important;
    }

    .navigation-menu{
        position: fixed;
        width: 100%;
        max-width: 400px;
        background: #2f3640;
        /* background: #172b4d; */
        top: 90px;
        right: 0;
        display: none;
        padding: 20px 40px;
        box-sizing: border-box;
    }

    .navigation-menu::before{
        content: "";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        position: absolute;
        top: -10px;
        right: 10px;
    }

    .navigation-menu a{
        display: block;
        margin: 10px 0;
    }

    .navigation-menu.active{
        display: block;
    }

}

footer{
    height: 90px;
    background: #2f3640;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulo_footer{
    color: white;
    font-weight: 300;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.texto_footer{
    color: white;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
}

.redes{
    height: 50px;
}
